<h1>Informations personnelles</h1>

<button *ngIf="isLoggedIn" type="button" (click)="logout()">Log out</button>
<button *ngIf="!isLoggedIn" type="button" (click)="login()">Log in</button>

<ng-container *ngIf="keycloakProfile">
  <h2>mon compte</h2>
  <table>
    <tr *ngIf="keycloakProfile.username">
      <th scope="row">Username</th>
      <td>{{ keycloakProfile.username }}</td>
    </tr>
    <tr *ngIf="keycloakProfile.firstName">
      <th scope="row">First name</th>
      <td>{{ keycloakProfile.firstName }}</td>
    </tr>
    <tr *ngIf="keycloakProfile.lastName">
      <th scope="row">First name</th>
      <td>{{ keycloakProfile.lastName }}</td>
    </tr>
    <tr *ngIf="keycloakProfile.email">
      <th scope="row">E-mail</th>
      <td>{{ keycloakProfile.email }}</td>
    </tr>
    <tr>
      <th scope="row">E-mail verified</th>
      <td>{{ keycloakProfile.emailVerified ? 'Yes' : 'No' }}</td>
    </tr>
  </table>
</ng-container>