<nav class="hidden-labels-nav">
    <a class="hidden-labels-nav__destination hidden-labels-nav__destination--active" routerLink="/">
        <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Example home icon">casino</mat-icon>
    </a>
    
        <a class="hidden-labels-nav__destination hidden-labels-nav__destination--active" routerLink="/big-prize">
            <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Example home icon">emoji_events</mat-icon>
        </a>
    
        <a class="hidden-labels-nav__destination" routerLink="/tickets">
            <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Example home icon">card_giftcard</mat-icon>
        </a>
    
        <a class="hidden-labels-nav__destination --active" routerLink="/auth">
            <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
        </a>
  </nav>
