@font-face {
  font-family: Athelas;
  src: url("../assets/font/Athelas-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Athelas-Bold;
  src: url("../assets/font/Athelas-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Athelas-Italic;
  src: url("../assets/font/Athelas-Italic.ttf") format("truetype");
}

$thetiptop-yellow: #D9E021;
$thetiptop-green: #93CB02;
$thetiptop-black: #FFFFFF;
$thetiptop-white: #000000;
